<!DOCTYPE html>
<html>
<head>
    <title>Liste des capteurs</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'appsae/capteur_list.css' %}">
</head>
<body>
    <h1>Liste des capteurs</h1>
    <div class="button-container">
        {% for capteur in capteurs %}
            <a class="capteur-button" href="{% url 'donnee_list' capteur.id %}">{{ capteur.nom_capteur }}</a>
        {% endfor %}
    </div>
    <h2>Voir les données de tous les capteurs</h2>
    <a href="{% url 'toute_donnee' %}">
        <button>Afficher toutes les données</button>
    </a>
</body>
</html>
