<!DOCTYPE html>
<html>
<head>
    <title>Données des capteur</title>
</head>
<body>
    <h1>Voici les données des capteur</h1>

    <h2>Capteur ID: {{ capteur_id }}</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Heure</th>
                <th>Température</th>
            </tr>
        </thead>
        <tbody>
            {% for donnee in donnees %}
            <tr>
                <td>{{ donnee.date_field }}</td>
                <td>{{ donnee.heure }}</td>
                <td>{{ donnee.temperature }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
